{% extends "core/base.html" %}
{% load static %}

{% block title %}Reservas | Luxe Therapy{% endblock %}

{% block main_content %}

<!-- Hero Section -->
<section class="d-md-none">
    <div class="card">
        <img src="{% static 'core/img/bg-hero01.JPG' %}" class="card-img" alt="">
        <div class="card-img-overlay">
            <div class="card-body">
            </div>
        </div>
    </div>
</section>
<div class="container my-5">
    <h2 class="container text-center my-3 btn-custom p-2 rounded">Nuestros Servicios</h2>
    <div class="row gx-1 justify-content-center justify-content-md-around">
        <div class="card bg-light col-12 col-sm-6 col-md-4 text-bg-dark my-3 mx-1">
            <img src="{% static 'bookings/img/card-05.JPG' %}" class="card-img-top" alt="...">
            <div class="card-header">
                <h2 class="color-custom">Atencion personalizada</h2>
            </div>
            <div class="card-body">
                <p class="card-text color-custom">Cada persona es única, y en Luxe Therapy lo sabemos. Nuestro enfoque personalizado garantiza que cada detalle esté pensado para ofrecerte una experiencia inigualable.</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'booking-create' %}" class="btn btn-sm btn-custom mt-1">Agenda tu hora</a>
            </div>
        </div>
        <div class="card bg-light col-12 col-sm-6 col-md-4 text-bg-dark my-3 mx-2">
            <img src="{% static 'bookings/img/card-03.JPG' %}" class="card-img-top" alt="...">
            <div class="card-header">
                <h2 class="color-custom">Gemoterapia</h2>
            </div>
            <div class="card-body">
                <p class="card-text color-custom">Experimenta la sanación a través de las vibraciones de las piedras preciosas. Deja que la energía de los cristales restablezca tu equilibrio interior y despierte tu bienestar.</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'booking-create' %}" class="btn btn-sm btn-custom mt-1">Agenda tu hora</a>
            </div>
        </div>
        <div class="card bg-light col-12 col-sm-6 col-md-4 text-bg-dark my-3">
            <img src="{% static 'bookings/img/card-02.JPG' %}" class="card-img-top" alt="...">
            <div class="card-header">
                <h2 class="color-custom">Manicure</h2>
            </div>
            <div class="card-body">
                <p class="card-text color-custom">Realza la belleza de tus manos con una experiencia de manicura exclusiva. Cuida tus uñas con elegancia, precisión y el toque perfecto para complementar tu estilo.</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'booking-create' %}" class="btn btn-sm btn-custom mt-1">Agenda tu hora</a>
            </div>
        </div>
        <div class="card bg-light col-12 col-sm-6 col-md-4 text-bg-dark my-3 mx-1">
            <img src="{% static 'bookings/img/card-04.JPG' %}" class="card-img-top" alt="...">
            <div class="card-header">
                <h2 class="color-custom">Aroma terapia</h2>
            </div>
            <div class="card-body">
                <p class="card-text color-custom">Déjate envolver por la magia de los aromas esenciales. Relájate y disfruta de una terapia sensorial diseñada para reducir el estrés y armonizar tu mente y cuerpo.</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'booking-create' %}" class="btn btn-sm btn-custom mt-1">Agenda tu hora</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}