<!-- <div class="container-fluid text-center pt-2 my-3">
    <p class="d-inline-flex gap-1 justify-content-around">
    <div class="row justify-content-around">
        <button class="btn bg-beige col-3 custom-link-wh" type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
            <div class="card-title fw-bold">Contacto</div>
            <i class="fa-regular fa-envelope fa-3x"></i>
        </button>
        <button class="btn bg-beige col-3 custom-link-wh" type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
            <div class="card-title fw-bold">Horarios</div>
            <i class="fa-solid fa-map-location-dot fa-3x"></i>
        </button>
        <button class="btn bg-beige col-3 custom-link-wh" type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
            <div class="card-title fw-bold">Dirección</div>
            <i class="fa-regular fa-clock fa-3x"></i>
        </button>
    </div>
    </p>
    <div class="row gy-2">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body border-0">
                    <a href="" class="custom-link">Formulario de contacto</a><br>
                    <a href="" class="custom-link">Convenios y publicidad</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body border-0">
                    <a href="#" class="custom-link">Martes a Domingo <br>9:00 a 18:00</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body border-0">
                    <p class="card-text">Isidora Goyenechea 2925</p>
                </div>
            </div>
        </div>
    </div>
 -->

</div>
<div class="container-fluid bg-beige text-center">
    <p class="container text-white">
        Luxe Therapy 2024&copy | Desarrollado por Ignacio Báez
    </p>
</div>

