<!-- Footer -->
<footer class="container-fluid bg-custom btn-custom py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <h5 class="text-uppercase mb-2">Información de Contacto</h5><hr>
                <p><span class="me-2"><i class="fa-solid fa-location-dot"></i></span>Isidora Goyenechea 2925, Las condes Santiago</p>
                <p><span class="me-2"><i class="fa-solid fa-phone"></i></span> +56 9 1234 5678</p>
                <p><span class="me-2"><i class="fa-solid fa-envelope"></i></span> contacto@luxetherapy.cl</p>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h5 class="text-uppercase">Síguenos en Redes Sociales</h5><hr>
                <a href="https://www.instagram.com/luxetherapy.cl/profilecard/?igsh=bGlvODhkd2h0aTNt" class="text-white me-3"><i class="fa-brands fa-instagram fa-3x"></i></a>
                <a href="#" class="text-white ME-3"><i class="fa-brands fa-whatsapp fa-3x"></i></a>
                <p class="mt-2">¡Mantente informado de nuestras ofertas y novedades exclusivas!</p>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h5 class="text-uppercase">Horarios de Atención</h5><hr>
                <i class="fa-regular fa-clock fa-3x mb-2"></i>
                <p><span class="me-2">Lunes a Viernes: 10:00 AM - 19:00 PM</p>
                <p><span class="me-2">Sábados: 10:00 AM - 15:00 PM</p>
                <p><span class="me-2">Domingos y Festivos: Cerrado</p>
            </div>
        </div>
        <!-- <div class="row mt-4">
            <div class="col-12">
                <p class="mb-1"><a href="#" class="text-white">Política de Privacidad</a> | <a href="#"
                        class="text-white">Términos y Condiciones</a> | <a href="#" class="text-white">Preguntas
                        Frecuentes</a> | <a href="#" class="text-white">Mapa del Sitio</a></p>
            </div>
        </div> -->
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="fst-italic">"Tu bienestar es nuestra prioridad. Relájate, renueva, y vuelve a conectar con tu
                    esencia en Luxe Therapy."</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="mb-0">Luxe Therapy 2024 &copy; | Desarrollado por Ignacio Báez</p>
            </div>
        </div>
    </div>
</footer>