{% extends "core/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block body %}class="background-image-04"{% endblock %}

{% block main_content %}
<div class="row justify-content-center my-5 p-3">
    <form action="" method="post" data-bs-theme="dark" class="col-12 col-md-10 col-8 bg-transparency p-3 rounded">
        {% csrf_token %}
        <div class="row text-white justify-content-center">
            <h2 class="text-center text-white">Editar perfil de {{ user.username }}</h2>
            <hr><br>
            <p class="text-center bg-dark py-1 col-4">Selecciona los campos a editar</p>
            <hr>
            <!--Email Field-->
            <i class="fa-3x fa-solid fa-square-pen edit-icon text-white col-1 mt-3"></i>
            <div class="mb-3 col-11">
                <label for="{{ form.email.id_for_label }}" class="pe-2">Correo electronico</label>
                {{ form.email }}
            </div>

            <!--first_name Field-->
            <i class="fa-3x fa-solid fa-square-pen edit-icon text-white col-1 mt-3"></i>
            <div class="mb-3 col-11">
                <label for="{{ form.first_name.id_for_label }}" class="pe-2">Nombre</label>
                {{ form.first_name }}
                {% if user.first_name %}
                <input type="hidden" name="first_name" value="{{ user.first_name }}">
                {% endif %}
            </div>

            <!--first_name Field-->
            <i class="fa-3x fa-solid fa-square-pen edit-icon text-white col-1 mt-3"></i>
            <div class="mb-3 col-11">
                <label for="{{ form.last_name.id_for_label }}" class="pe-2">Apellido</label>
                {{ form.last_name }}
                {% if user.last_name %}
                <input type="hidden" name="last_name" value="{{ user.last_name }}">
                {% endif %}
            </div>
        </div>


        <button type="submit" class="btn btn-light mt-2">
            <i class="fa-solid fa-arrow-up-from-bracket"></i> Actualizar datos
        </button>
    </form>
</div>

{% if success_message %}
<div id="success-message" data-message="{{ success_message }}" style="display: none;"></div>
{% endif %}


{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'users/js/profile_edit.js' %}"></script>
{% endblock %}