{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block main_content %}
<div class="bg-img-02">
    <!-- <div class="container p-3 m-3">
        <div class="card col-5 text-white text-start bg-transparency border-0">
            <div class="card-header border-0">
                <h1 class="card-title fs-1">Relájate, renueva y revive</h1>
            </div>
            <div class="card-body">
                <p class="card-text fs-5">Descubre nuestros masajes, terapias de bienestar y eventos especiales
                    diseñados
                    para ti.</p>
            </div>
            <div class="card-footer mb-2 border-0">
                <button class="btn btn-sm btn-primary">Conoce nuestros servicios</button>
                <button class="btn btn-sm btn-outline-primary">Reserva tu experiencia</button>
            </div>
        </div>
    </div> -->
    <h2>Algunos de nuestros servicios</h2>
    <div class="container">
        <div class="card col-3">
            <div class="card-header">
                <h3>Masajes relajantes</h3>
            </div>
            <div class="card-body">
                <p>Libera el estrés y recupera la armonía.</p>
            </div>
            <div class="card-footer">
                <button>Más información</button>
            </div>
        </div>
    </div>

    <div class="events-section">
        <h2>Próximos Eventos</h2>
        <!-- Carrusel o lista de eventos -->
    </div>

    <div class="gallery-section">
        <h2>Galería</h2>

    </div>
</div>
{% endblock %}